.actual-feed-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  width: 100%;
}

.actual-feed-item:hover {
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.pet-name-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pets-feed-title {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
}
