html {
  overflow-x: hidden;
}

.search-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.search-form-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 100vh;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 70px;
}

.actual-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.advanced-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advanced-search {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.height-advanced-container {
  justify-content: center;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.show-all-container {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.pet-result-container {
  position: relative;
  top: 100px;
  width: calc(90vw);
}

.result-items {
  margin-left: 350px;
  padding: 30px;
  padding-top: 0;
  display: flex;
  flex-basis: calc(100vw - 350px);
  width: 100%;
  margin-bottom: 300px;
}

.result-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
  width: 90%;
}

.single-pet-choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.pet-image {
  width: 35px;
  height: auto;
}

.error-container {
  display: flex;
  height: calc(100vh - 350px);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.show-all-wrapper {
  width: 96.5vw;
}
